<h2> Blackjack game ! </h2>

Welcome <%= session[:name] %><br>

<div class= 'well'> 
	<h4>Dealer's cards : </h4>
		<% session[:dealer_cards].each_with_index do |card,i| %>
			<% if i == 0 && session[:show_dealer_first_card] == false %>
				<img src='/images/cards/cover.jpg' class ='card_img'>
			<% else %>
				<%= card_image(card) %>
			<% end %>
		<% end %>	
	<br> Dealer's total : <%= calculate_total(session[:dealer_cards]) %>
	<% if session[:choice].nil? == false %>
		<% if (session[:game_over] == false ||  (session[:game_over] == true && session[:choice] == 2))%>
			Dealer chooses <%= session[:choice] == 1 ? 'hit': 'stay' %>
		<% end %>
		<% if session[:choice] == 1 &&  session[:game_over] == false %>
			 <form action ='/game/dealer/next' method = 'post'>
				<input type = 'submit' value = 'click to see dealer next card' class = 'btn btn-success'>
			</form>
		<% end %>
	<% end %>
</div>
<p>
<div class ='well'>
	<h4><%= session[:name] %>'s cards :  </h4>
		<% session[:player_cards].each do |card| %>
		<%= card_image(card) %> 
		<% end %>
	<br> <%= session[:name] %>'s total : <%= calculate_total(session[:player_cards]) %>
</div>


<% if session[:show_hit_or_stay_buttons] %>
	<p> What would you like to do ?
	<form id="hit_form" action ='/game/player/hit' method = 'post'>
		<input type = 'submit' value = 'hit' class = 'btn btn-success'>
	</form>
	<form id="stay_form" action ='/game/player/stay' method = 'post'>
		<input type = 'submit' value = 'stay' class = 'btn btn-warning'>
	</form>
<% end %>